:root {
  --darkSlateGray: #24273d; /* sidebar */
  --torquoise: #3dc3d6; /* nav bar */
  --tomato: #fe5460; /* expense */
  --seaGreen: #41dd66; /* income */
  --silver: #c8c7cc; /* arrow */
  --gainsboro: #e1e0e4; /* date */
  --background: #f8f8fa; /* background */
  --white: #ffffff; /* tablerow */
}

body {
  font-family: 'Jost', sans-serif;
  background-color: var(--gainsboro);
  color: var(--primary-color);
}
p {
  margin: 0;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

.name{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

button{
  border: none;
  color: white;
  font-weight: bold;
  background-color: #0080FF;
  padding: 12px 30px;
  border-radius: 30px;
  cursor: pointer;
}

button a{
  color: white;
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
}

.container {
  margin: 24px;
  padding: 24px;
}
.hidden {
  display: none;
}
.header-headings {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}
.header-profile {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.info {
  display: flex;
  justify-content: space-around;
}
.info-add-new,
.info-summary {
  text-align: center;
  display: flex;
  height: 20rem;
  width: 35rem;
  background-color: var(--white);
  border-radius: 20px;
  padding: 1rem;
}

.detail {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.detail-category,
.detail-recents {
  display: flex;
  width: 33rem;
  background-color: var(--white);
  border-radius: 20px;
  padding: 2rem;
}

.add-btn,
.formGroup input[type='submit'] {
  background-color: var(--torquoise);
  border: none;
  border-radius: 6px;
  padding: 10px;
  color: white;
  cursor: pointer;
}
.add-btn1{
  background-color: white;
  border: none;
  border-radius: 30px;
  color: black;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  font-weight: bold;
}


.add-btn:hover,
.formGroup input[type='submit']:hover {
  background-color: darkcyan;
}

.del-btn {
  background-color: var(--tomato);
  border: none;
  border-radius: 6px;
  padding: 5px;
  color: white;
  cursor: pointer;
}
.del-btn:hover{
  background-color: red;
}

.active-tab {
  background-color: #0080FF;
  color: white;
}

#incomeAddForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.formGroup {
  padding: 10px 0 10px 0;
}
input[type='text'],
input[type='number'],
select {
  min-height: 20px;
  padding: 5px;
  border: 1px solid var(--torquoise);
  border-radius: 6px;
  outline: none;
}

.totalincome-value {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.totalincome-value table {
  max-width: 100%;
  text-align: center;
}
.incomeBudgetCompare{
  width: 100%;
}
.incomeBudgetCompare table {
  width: 100%;
  text-align: center;
}

.budget-table table tr td:nth-child(2) {
  width: 75%;
  text-transform: capitalize;
}

.budget-table td {
  text-align: center;
}

#incomeChart {
  margin-top: 2rem;
  height: 520px !important;
  width: 530px !important;
  background-color: var(--white);
  margin-bottom: 3rem !important;
}

#incBudCompareChart {
  margin-top: 2rem;
  height: 320px !important;
  width: 33rem !important;
  background-color: var(--white);
}
.income-budget-summary h3{
  text-align: center;
}


/* EXpenses */
.expense-form-inputs{
  display: flex;
  gap:20px;
  justify-content: center;
}
.all-expenses-div{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.all-expenses-div h3{
  text-align: center;
}

.detail-expense-category, .detail-expense-recents,.detail-summary-category, .detail-summary-recents{
  display: flex;
  height: 20rem;
  width: 35rem;
  background-color: var(--white);
  border-radius: 20px;
  padding: 1rem;
  flex-direction: column;
  text-align: center;
}
.exhaustionDiv,.innerexhaustionDiv{
  height:1.2rem;
  border-radius: 8px;
  width:20rem;
}
.exhaustionDiv{
  border:1px solid black;
}
.innerexhaustionDiv{
  background-color: var(--torquoise);
}
.all-expenses{
  overflow-y: scroll;
}
.all-expenses table{
  width:95%;
  text-align: center;
}
.detail-expense-recents,.detail-summary-category, .detail-summary-recents{
  width: 35rem;
  height: 40rem;
}
.income-info-add{
  width: 100%;
}
.income-info-add h3{
  text-align: center;
}
.income-info-summary{
  width: 100%;
}
.income-details{
  width: 100%;
}

/* summary */

.summary-info-add{
  width:100%;
  text-align: center;
}
.summary-budget-table table{
  width:100%;
}
.summary-summary{
  display: flex;
  flex-direction: column;
}
.summary-saving{
  margin-top:3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:30px;
}
.summary-saving span{
  font-weight: 700;
}